[submodule "/Users/types/Library/texmf/tex/latex"]
	path = /Users/types/Library/texmf/tex/latex
	url = https://github.com/typesAreSpaces/PersonalLatexMacros
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/typesAreSpaces/.emacs.d
