[submodule "Library/texmf/tex/latex"]
	path = Library/texmf/tex/latex
	url = git@github.com:typesAreSpaces/PersonalLatexMacros.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:typesAreSpaces/nvim.conf
[submodule ".config/zsh"]
	path = .config/zsh
	url = git@github.com:typesAreSpaces/zsh.config
[submodule ".config/vim"]
	path = .config/vim
	url = git@github.com:typesAreSpaces/vim.conf
[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:typesAreSpaces/tmux.config
[submodule ".config/helix"]
	path = .config/helix
	url = git@github.com:typesAreSpaces/helix.conf
[submodule ".config/jose-emacs"]
	path = .config/jose-emacs
	url = git@github.com:typesAreSpaces/.emacs.d.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".local/scripts"]
	path = .local/scripts
	url = git@github.com:typesAreSpaces/localScripts.git
[submodule ".config/alacritty"]
	path = .config/alacritty
	url = git@github.com:typesAreSpaces/alacritty.conf.git
[submodule ".config/zathura"]
	path = .config/zathura
	url = git@github.com:typesAreSpaces/zathura.conf.git
[submodule ".config/latexmk"]
	path = .config/latexmk
	url = git@github.com:typesAreSpaces/latexmk.conf.git
