[submodule "Library/texmf/tex/latex"]
	path = Library/texmf/tex/latex
	url = git@github.com:typesAreSpaces/PersonalLatexMacros.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:typesAreSpaces/nvim.conf
[submodule ".config/zsh"]
	path = .config/zsh
	url = git@github.com:typesAreSpaces/zsh.config
[submodule ".config/vim"]
	path = .config/vim
	url = git@github.com:typesAreSpaces/vim.conf
[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:typesAreSpaces/tmux.config
[submodule ".config/helix"]
	path = .config/helix
	url = git@github.com:typesAreSpaces/helix.conf
